html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #121616;
  width: 100hv;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: azure;
}

video {
  width: 600px;
  height: 337.5px;
}

.panel {
  width: 600px;
  padding: 10px 26px;
  background: #30323d;
  color: #e8c547;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  /* padding: 4px 10px; */
  width: 45px;
  height: 50px;
  overflow: hidden;
  border-radius: 6px;
  background: none;
  transition: all 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 100%;
}

.playback {
  width: 300px;
  display: flex;
  gap: 10px;
  align-content: center;
}
